/* fonts */
@font-face {src: url(font/Raleway-Bold.ttf);font-family: RalewayBold;}
@font-face {src: url(font/Raleway-ExtraBold.ttf);font-family: RalewayExtraBold;}
@font-face {src: url(font/OpenSans-Light.ttf);font-family: OpenSansLight;}
@font-face {src: url(font/OpenSans-Regular.ttf);font-family: OpenSansRegular;}
@font-face {src: url(font/OpenSans-Bold.ttf);font-family: OpenSansBold;}
@font-face {src: url(font/OpenSans-ExtraBold.ttf);font-family: OpenSansExtraBold;}

/* home_page */
.home_container,.rslt_elements{padding: 0;}
.home_header{font-family: OpenSansLight;font-size: 25px;color: #010101;padding: 25px 0;margin-top: 0;margin-bottom: 0px;padding-top: 5px;}
#main_container_home,#main_container_result{padding: 5px 0px;}
.image_container{padding: 0;margin-bottom: 15px;}
.filters_container_ques_1, .filters_container_ques_2, .filters_container_ques_3, .filters_container_ques_4{padding: 5px 0px 0px 0px;}
.filters_container_ques_1{padding-top: 10px;}
.filters_container_ques_5{padding: 5px 0px 0px 0px;}
.filters_container_btn{padding: 5px 0px 0px 0px;}
.ques_1,.ques_2,.ques_3,.ques_4,.ques_5{font-family: RalewayBold;font-size: 13px;color: #121118;letter-spacing: 3px;text-transform: uppercase;margin-top: 25px;}
.filter_btn{color: #717171;background-color: #ffffff;border-radius: 3px;border: 1px solid #e1e1e1;text-align: center;font-family: OpenSansRegular;font-size: 13px;text-transform: capitalize;}
.filter_btn.active, .filter_btn:active, .filter_btn:hover, .open>.filter_btn.dropdown-toggle{color: #fff;background-color: #e91e63;border-color: #e1e1e1;}
.filter_btn.focus,.filter_btn:active:focus, .filter_btn:focus,.filter_btn.active.focus, .filter_btn.active:focus, .filter_btn.active:hover, .filter_btn:active.focus, .filter_btn:active:focus, .filter_btn:active:hover, .open>.filter_btn.dropdown-toggle.focus, .open>.filter_btn.dropdown-toggle:focus, .open>.filter_btn.dropdown-toggle:hover{color: #ffffff;background-color: #e91e63;border-color: #e91e63;}
.filter_btn_1{padding: 10px;width: 100%;}
.filter_btn_2{padding: 10px 5px;width: 100%;min-height: 40px;}
.filter_btn_3{padding: 20px 5px;width: 100%;}
.filter_btn_4{padding: 5px 3px;width: 100%;}
.ques_1_ans, .ques_2_ans, .ques_3_ans, .ques_4_ans{padding: 8px;}
.ques_4_ans{width:12%;padding: 5px;}
.ques_4_ans:first-child{padding-left: 10px;}
.ques_4{margin-top: 15px;}
.ques_5{margin-top: 18px;line-height: 25px;}
.filter_input_5{padding: 10px;width: 100%;}
.ques{padding: 0;}
.price_min,.price_max{padding: 0;color: #8c8a8a;font-family: OpenSansRegular;font-size: 12px;}
.price{font-family: OpenSansBold;font-size: 14px;color: #010101;padding: 5px 0;}
.learn_more{font-family: OpenSansRegular;font-size: 14px;color: #19a7f8;cursor: pointer;}
.learn_more_pop{font-family: OpenSansRegular;font-size: 14px;color: #19a7f8;padding: 0px 15px;line-height: 18px;margin-top: 0;}
.tips{margin-top: 300px;}
.search_btn{width: 100%;padding: 10px;border-radius: 50px;font-family: OpenSansBold;font-size: 22px;text-transform: uppercase;background-color: #e91e63;color: #ffffff;border: none;}
.filters_container_bottom{padding: 15px 0px;}
.leftLabel,.rightLabel{font-family: OpenSansExtraBold;font-size: 22px;}
.selection_container{padding: 0;}

/* popup */
.close:focus, .close:hover{color: #e91e63;opacity: 1;}
.close{color: #e91e63;opacity: .5;}
.modal-header .close{margin-top: 10px;margin-right: 10px;}
.modal-header{padding: 0px;border-bottom: 0px;}
.modal-body{padding: 0;padding-bottom: 15px;}
.popup_container h2{margin-top: 30px;margin-bottom: 20px;}
.popup_container h2:first-child{margin-top: 20px;margin-bottom: 20px;}
.popup_options{padding: 10px;}
.popup_header{font-family: RalewayBold;font-size: 24px;text-transform: uppercase;letter-spacing: 3px;}
.modal-content{box-shadow: 0 5px 15px rgba(0, 0, 0, 0);border-radius: 0px;border: 1px solid rgba(0,0,0,0)}
.popup_filter_btn_1,.popup_filter_btn_2{padding: 10px;width: 100%;font-size: 14px;}
.select_btn{width: 100%;padding: 8px;border-radius: 0px;font-family: OpenSansBold;font-size: 20px;text-transform: uppercase;background-color: #e91e63;color: #ffffff;border: none;}
.popup_btn_container{padding: 15px 0;}
.popup_btn{color: #717171;background-color: #ffffff;border-radius: 0px;border: 1px solid #e1e1e1;text-align: center;font-family: OpenSansRegular;font-size: 14px;text-transform: capitalize;}
.popup_filter_btn_1.active, .popup_filter_btn_1:active, .popup_filter_btn_1:hover, .open>.popup_filter_btn_1.dropdown-toggle{color: #fff;background-color: #e91e63;border-color: #e1e1e1;}
.popup_filter_btn_2.active, .popup_filter_btn_2:active, .popup_filter_btn_2:hover, .open>.popup_filter_btn_2.dropdown-toggle{color: #fff;background-color: #e91e63;border-color: #e1e1e1;}
.popup_modal{width: 100% !important;}
.hospital_cover,.extras_cover{padding: 0;}

/* result page */
.result_container{padding: 30px 0px;}
.result_filter{padding: 5px;}
.result_search_btn,.result_filter_btn{color: #717171;background-color: #ffffff;border-radius: 3px;border: 1px solid #e91e63;text-align: center;font-family: OpenSansRegular;font-size: 15px;}
.result_header_btn{color: #ffffff;background-color: #e91e63;border: 1px solid #e91e63;text-align: center;font-family: OpenSansRegular;font-size: 15px;}
.result_header_btn.active, .result_header_btn:active, .result_header_btn:hover, .open>.result_header_btn.dropdown-toggle{color: #000;background-color: #ffffff;border-color: #ffffff;}
.result_header_btn.focus,.result_header_btn:active:focus, .result_header_btn:focus,.result_header_btn.active.focus, .result_header_btn.active:focus, .result_header_btn.active:hover, .result_header_btn:active.focus, .result_header_btn:active:focus, .result_header_btn:active:hover, .open>.result_header_btn.dropdown-toggle.focus, .open>.result_header_btn.dropdown-toggle:focus, .open>.result_header_btn.dropdown-toggle:hover{color: #000;background-color: #ffffff;border-color: #ffffff;}
.result_filter_btn.active, .result_filter_btn:active, .result_filter_btn:hover, .open>.result_filter_btn.dropdown-toggle{color: #fff;background-color: #e91e63;border-color: #e91e63;}
.result_filter_btn.focus,.result_filter_btn:active:focus, .result_filter_btn:focus,.result_filter_btn.active.focus, .result_filter_btn.active:focus, .result_filter_btn.active:hover, .result_filter_btn:active.focus, .result_filter_btn:active:focus, .result_filter_btn:active:hover, .open>.result_filter_btn.dropdown-toggle.focus, .open>.result_filter_btn.dropdown-toggle:focus, .open>.result_filter_btn.dropdown-toggle:hover{color: #ffffff;background-color: #e91e63;border-color: #e91e63;}
.pagination_container, .result_filter_container{padding: 0;}
.btn-pagination {color: #e91e63;background-color: #ffffff;border-color: #ffffff;padding: 6px 10px;font-family: OpenSansRegular;font-size: 16px;}
.filter_options_header{font-family: OpenSansRegular;font-size: 12px;margin-top: 15px;}
.results_main{padding: 50px 0;}
.result_main_contain,.paging,.key_filters,.header_section,.result_section,.rslt_section{padding: 0;}
.bor_bottom{border: 1px solid #ccc;border-top: 0;border-right: 0;border-left: 0;}
.bor_bottom_right{border: 1px solid #ccc;border-top: 0;border-left: 0;}
.bor_right{border: 1px solid #ccc;border-top: 0;border-left: 0;border-bottom: 0;}
.cover_extra_headers.head:nth-child(odd),.annual_extra_headers.head:nth-child(odd),.service_extra_headers.head:nth-child(odd) { background-color:#ffffff;}
.cover_extra_headers.head:nth-child(even),.annual_extra_headers.head:nth-child(even),.service_extra_headers.head:nth-child(even)  { background-color:#f6f6f6;}
.rslt_section:nth-child(odd) { background-color:#ffffff;}
.rslt_section:nth-child(even) { background-color:#f6f6f6;}
.hcover_section .head:nth-child(odd) { background-color:#ffffff !important;}
.hcover_section .head:nth-child(even) { background-color:#f6f6f6 !important;}
.result_headers{font-family: OpenSansRegular;font-size: 16px;padding: 30px 0px;}
.bank_headers{font-family: OpenSansRegular;font-size: 16px;padding: 30px 0px;min-height: 136px;padding-bottom: 0px;}
.premium_headers{font-family: OpenSansRegular;font-size: 16px;padding: 30px 0px;min-height: 110px;}
.policy_headers,.visit_headers,.payment_headers{font-family: OpenSansRegular;font-size: 16px;padding: 30px 0px;min-height: 91px;}
.section_headers{font-family: OpenSansRegular;font-size: 16px;padding: 24px 0px;min-height: 73px;}
.bank_name,.policy_price{font-family: OpenSansBold;font-size: 24px;text-align: center;}
.fund_type{font-family: OpenSansRegular;font-size: 15px;text-align: center;color: #19a7f8;}
.policy_name,.visit_price,.payment{font-family: OpenSansRegular;font-size: 14px;margin-top: 0px;margin-bottom: 0px;text-align: center;}
.section_header{padding: 20px;background-color: #e91e63;border: 1px solid #e91e63;color: #ffffff;font-family: OpenSansBold;font-size: 20px;text-transform: uppercase;}
.header_btn button{display: inline-block;}
.extra_header{padding: 3px 0;}
.cover_extra_headers{padding: 25px;}
.payment_img{margin: 0;padding: 24px;text-align: center;}
.annual_content {margin: 0;text-align: center;font-family: OpenSansRegular;font-size: 11px;min-height: 76px;vertical-align: middle;}
.annual_extra_headers {padding: 40px;}
.annual_extra_headers_content{padding: 15px;}
.service_extra_headers_content{padding: 5px 15px;/*min-height: 83px;*/font-family: OpenSansRegular;}
.service_content{font-size: 13px ;min-height: 72px;}
.service_content tr td{width: 30%;}
.service_content tr td:first-child{width: 70%;}
.service_limit_section .header_section .head{min-height: 83px;}
.annual_limit_section .header_section .head{min-height: 107px;padding: 40px 0px;padding-left: 20px;}
.service_extra_headers {padding: 32px;}
.btn_header{padding: 0;}
table{width: 100%;text-align: center}
.payment td{padding: 5px;}
.head{font-family: OpenSansRegular;font-size: 16px;padding-left: 20px;}
.annual_limit_section .head{min-height: 111px;}
.cover_payment_text{margin: 0;padding: 27.5px;text-align: center;font-family: OpenSansRegular;font-size: 16px;}
.back_btn {margin-top: 50px;text-align: center;}
a{text-decoration: none;color: #000;}
a:hover,a:focus,a:visited{text-decoration: none;color: #000;}
.extra_header_main .filter_btn_1{padding: 6px !important;font-size: 13px;}
.fixed_head.stuck {position: fixed;top: 0;left: 16.89%;z-index: 999;width: 66%;}
.annual_limit_section .section_headers, .service_limit_section .section_headers{min-height: 0;}
.tick{background-image: url(../images/tick_small.png);background-repeat: no-repeat;padding: 0px 10px;}
.cross{background-image: url(../images/cross_small.png);background-repeat: no-repeat;padding: 0px 10px;}
.img_per_class{padding: 30px 0;}

/* For pagination function. */
.pagination {font-family: OpenSansRegular;font-size: 14px;padding-left: 0;border-radius: 4px;margin-left: -15px;margin-bottom: 10px;}
ul.pagination {text-align:center;color:#829994;}
ul.pagination li {display:inline-block;padding:0 3px;}
ul.pagination a {color:#e91e63;display:inline-block;padding:5px 10px;border:1px solid #ffffff;text-decoration:none;}
ul.pagination a:hover,ul.pagination a.current {background:#e91e63;color:#fff;}
.wrap { text-align:center; line-height:21px; padding:20px;}
.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{border-radius: 0;}

/* media query */
@media (min-width: 1200px) and (max-width: 1368px)  {
	.filter_btn_1{min-height: 40px;}
	.filter_btn_3{min-height: 40px;}
	.annual_limit_section .header_section .head{min-height: 121px;padding: 49px 0px;padding-left: 20px;}
	.extra_header_main{padding: 15px;padding-left: 20px;}
	.service_extra_headers_content{font-size: 12px;padding: 5px;}
	.annual_content {font-size: 11px;min-height: 90px;padding: 12px;}
	ul.pagination a{padding: 5px 8px;}
	.popup_modal{width: 99% !important;}
	.extra_header_main .filter_btn_1 {padding: 4px 4px !important;font-size: 13px;}
	.policy_name, .visit_price, .payment{font-size: 14px;}
	.service_content tr td{width: 20%;}
	.service_content tr td:first-child{width: 80%;}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.filter_btn_1{min-height: 56px;}
	.filter_btn_2{min-height: 56px;}
	.filter_btn_3{min-height: 76px;}
	.filter_btn{font-size: 12px;}
	.result_filter_btn {font-size: 13px;}
    .popup_modal{width: 99% !important;}
    .popup_container{padding: 0;}
    .ques_1, .ques_2, .ques_3, .ques_4, .ques_5{line-height: 22px;margin-top: 15px;}
    .ques_1_ans, .ques_2_ans, .ques_3_ans, .ques_4_ans{padding: 5px;}
    .ques_4 {margin-top: 8px;}
    .leftLabel, .rightLabel{font-size: 22px;}
    .price {font-size: 16px;}
    .search_btn{padding: 10px;font-size: 20px;}
    .btn-pagination{padding: 6px;}
    .filter_options_header {padding: 10px;padding-left: 0px;line-height: 20px;}
    .fund_type{font-size: 14px;}
    .bank_name, .policy_price{font-size: 22px;}
    .premium_headers{padding: 20px 0px;padding-left: 20px;}
    .head{font-size: 13px;padding-left: 0px;}
    .policy_name, .visit_price, .payment{font-size: 13px;}
    .section_headers{font-size: 13px;}
    .section_header{font-size: 16px;}
    .result_header_btn{padding:5px;min-height: 0px;}
    .service_limit_section .head{min-height: 101px;}
    .covered_section .head{min-height: 87px;}
    .payment_img{padding: 31px;}
    .service_extra_headers_content{min-height: 94px;font-size: 12px;padding: 10px 5px;}
    .annual_content{min-height: 90px;}
    .annual_limit_section .header_section .head {min-height: 107px;padding: 40px 0px;}
    ul.pagination a{padding: 5px 4px;}
    .pagination{margin-left: -8px;font-size: 13px;}
    .filter_options_header{margin-top: 8px;}
    .extra_header_main .filter_btn_1 {padding: 4px !important;font-size: 11px;}
    .extra_header {padding: 3px 0;}
    .annual_extra_headers_content{padding: 8px;}
    .service_limit_section .header_section .head {min-height: 94px;padding: 35px 0px;}
    .service_content {font-size: 13px !important;min-height: 73px;}
    .service_content tr td{width: 20%;}
	.service_content tr td:first-child{width: 80%;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .img_per_class{padding: 39px 0;}
    .ques_1,.ques_2,.ques_3,.ques_5{line-height: 25px;}
    .filter_options_header {padding: 10px;padding-left: 0px;line-height: 14px;}
    .filter_btn_1 {padding: 10px 2px;}
    .filter_btn_1,.filter_btn_2,.filter_btn_3,.filter_btn_4{font-size: 12px;}
    .ques_1, .ques_2, .ques_3, .ques_4, .ques_5{font-size: 11px;margin-top: 12px;}
    .search_btn{padding: 10px;font-size: 24px;}
    .fund_type{font-size: 13px;}
    .extra_header_main .filter_btn_1 {padding: 4px !important;font-size: 11px;}
    .extra_header {padding: 3px 0;}
    .annual_extra_headers_content{padding: 11px;}
    /* popup */
    .popup_container h2 {margin-top: 18px;margin-bottom: 15px;}
	.popup_container h2:first-child{margin-top: 5px;margin-bottom: 10px;}
	.popup_header{font-size: 18px;}
	.popup_btn{font-size: 13px;}
    .popup_options{padding: 5px 10px;}
    .popup_filter_btn_1, .popup_filter_btn_2{padding: 10px 5px;}
    .popup_btn{font-size: 13px;min-height: 58px;}
    .popup_container,.modal-content{padding: 5px;}
    .popup_modal{width: 100% !important;}
    .result_search_btn, .result_filter_btn{padding: 5px;} 
    .bank_headers{padding: 15px 0px;padding-bottom: 0px;}
    .policy_name, .visit_price, .payment,.head{font-size: 14px;}
    .payment_img{padding: 24px;}
    .service_extra_headers{padding: 32px;padding-left: 20px;min-height: 87px;}
    .service_extra_headers_content{font-size: 11px;}
    .annual_content{min-height: 93px;}
    .annual_limit_section .head{min-height: 139px;padding: 52px;padding-left: 20px;}
    ul.pagination{margin-left: -9px;margin-top: 0;font-size: 12px;}
    ul.pagination a{padding: 5px 6px;}
    .filter_options_header{margin-top: 6px;padding: 0;}
    .fixed_head.stuck {position: fixed;top: 0;left: 2%;z-index: 999;width: 96%;}
    .service_limit_section .header_section .head {min-height: 101px;padding: 35px 0px;}
    .service_content {font-size: 13px;min-height: 90px;}
    .annual_limit_section .header_section .head {min-height: 116px;padding: 48px 0px;padding-left: 20px;}
}
@media (min-width: 413px) and (max-width: 767px) {
	.filter_options_header{margin-top: 5px;line-height: 18px;}
	.result_container{padding: 0}
	.tips{margin-top: 40px;}
	.home_container{padding: 0}
	.filter_container,.selection_container{padding: 0}
	.home_header{font-size: 20px;margin-bottom: 0px;}
	.filters_container_ques_1{padding: 0;}
	.ques_1, .ques_2, .ques_3, .ques_4, .ques_5{margin-top: 10px;font-size: 13px;letter-spacing: 2px;}
	.ques_1_ans, .ques_2_ans, .ques_3_ans, .ques_4_ans{padding: 5px;}
	.filter_btn_1,.filter_btn_2{padding: 10px 2px;}
	.back_btn .filter_btn{padding: 15px}
	.filter_btn_1{min-height: 56px;}
	.filter_btn{font-size: 12px;}
	.filter_btn_2{min-height: 56px;}
	.ques_4_ans:first-child{padding-left: 0;}
	.filter_btn_3 {padding: 15px 5px;min-height: 68px;}
	.search_btn {padding: 8px;font-size: 20px;}
	.price {font-size: 15px;padding: 8px 0;}
	.popup_modal{width: 94% !important;}
	/* popup */
	.popup_container h2 {margin-top: 18px;margin-bottom: 15px;}
	.popup_container h2:first-child{margin-top: 5px;margin-bottom: 10px;}
	.popup_header{font-size: 15px;}
	.popup_btn{font-size: 13px;}
	.popup_filter_btn_1, .popup_filter_btn_2{padding: 5px;}
	.select_btn{padding: 6px;font-size: 18px;width: 100%;}
	.popup_options{width: 100%;padding: 5px 10px;}
	.leftLabel, .rightLabel{font-size: 16px;}
	.learn_more{font-size: 10px;}
	.fixed_head.stuck {position: fixed;top: 0;left: 0.7%;z-index: 999;width: 98.6%;}
	.policy_headers, .visit_headers, .payment_headers{padding: 15px 5px;min-height: 60px;}
    .results_main {padding: 25px 0;}
    .bank_name, .policy_price{font-size: 20px;}
    .head{font-size: 13px;padding: 20px 0px;min-height: 60px;}
    .section_headers{min-height: 73px;padding: 24px 0px;}
    .section_header{padding: 10px;text-align: center;}
    .policy_name, .visit_price, .payment{font-size: 11px;}
    .premium_headers{padding: 7px;min-height: 60px;}
    .fund_type{font-size: 13px;color:#ffffff;}
    .annual_limit_section .header_section .head {min-height: 77px;padding: 27px 10px}
    .annual_content{font-size: 11px;min-height: 60px;}
    .service_content {font-size: 11px;min-height: 73px;}
    .service_limit_section .header_section .head {min-height: 84px;padding: 32px 10px;}
    .service_extra_headers_content{padding: 5px;}
    .result_search_btn, .result_filter_btn{font-size: 13px;min-height: 40px;}
    .bank_headers{padding: 15px 0px;min-height: 100px;}
    .pagination_container{text-align: center;}
    .payment_img{padding: 24px 10px;}
    .main_container{padding: 0px 5px;}
    /*.fixed_head:first-child{margin-top: 20px;}*/
    .bank_name,.fund_type{margin: 0;}
    .head{padding-left: 10px;}
    .service_limit_section .head{min-height: 73px;}
    .rslt_section {border-right: 1px solid #ccc;border-left: 1px solid #ccc;}
    .left_arrow{background-image: url(../images/left_arrow.png);width: 12px;height: 38px;background-repeat: no-repeat;background-position: 5px 7px;}
    .right_arrow{background-image: url(../images/right_arrow.png);width: 12px;height: 38px;background-repeat: no-repeat;background-position: 15px 7px;float: right;}
    .select_div{min-height: 0;border: 1px solid #ffffff;}
    .premium{padding-top: 10px;}
    .annual_extra_headers_content{padding: 8px;}
    .result_filter_container{margin-bottom: 15px;}
    a:link,a:hover,a:focus,a:visited{text-decoration: none;color: #fff;}
}
@media (min-width: 420px) and (max-width: 550px) {
    .annual_extra_headers_content{padding: 6px;}
    .annual_content{min-height: 75px;}
    .annual_limit_section .header_section .head {min-height: 88px;padding: 34px 10px;}
    .result_filter_container{margin-bottom: 15px;}
    .fixed_head:first-child{margin-top: 0px;}
    a:link,a:hover,a:focus,a:visited{text-decoration: none;color: #fff;}
}
@media (min-width: 320px) and (max-width: 412px) {
    a:link,a:hover,a:focus,a:visited{text-decoration: none;color: #fff;}
	.filter_options_header{margin-top: 5px;line-height: 18px;}
	.result_container{padding: 0}
	.tips{margin-top: 40px;}
	.home_container{padding: 0}
	.filter_container,.selection_container{padding: 0}
	.home_header{font-size: 20px;margin-bottom: 0px;}
	.filters_container_ques_1{padding: 0;}
	.ques_1, .ques_2, .ques_3, .ques_4, .ques_5{margin-top: 10px;font-size: 13px;letter-spacing: 2px;}
	.ques_1_ans, .ques_2_ans, .ques_3_ans, .ques_4_ans{padding: 5px;}
	.filter_btn_1,.filter_btn_2{padding: 10px 2px;}
	.back_btn .filter_btn{padding: 15px}
	.filter_btn_1{min-height: 50px;}
	.filter_btn{font-size: 10px;}
	.filter_btn_2{min-height: 56px;}
	.ques_4_ans:first-child{padding-left: 0;}
	.filter_btn_3 {padding: 15px 5px;min-height: 60px;}
	.search_btn {padding: 8px;font-size: 20px;}
	.price {font-size: 13px;padding: 8px 0;}
	.popup_modal{width: 94% !important;}
    .filter_btn_4{padding: 4px 0px;}
	/* popup */
	.popup_container h2 {margin-top: 18px;margin-bottom: 15px;}
	.popup_container h2:first-child{margin-top: 5px;margin-bottom: 10px;}
	.popup_header{font-size: 15px;}
	.popup_btn{font-size: 13px;}
	.popup_filter_btn_1, .popup_filter_btn_2{padding: 5px;}
	.select_btn{padding: 6px;font-size: 18px;width: 100%;}
	.popup_options{width: 100%;padding: 5px 10px;}
	.leftLabel, .rightLabel{font-size: 16px;}
	.learn_more{font-size: 10px;}
	.fixed_head.stuck {position: fixed;top: 0;left: 1%;z-index: 999;width: 98%;}
	.policy_headers, .visit_headers, .payment_headers{padding: 20px 5px;min-height: 67px;}
    .results_main {padding: 25px 0;}
    .bank_name, .policy_price{font-size: 20px;}
    .head{font-size: 11px;padding: 24px 0px;min-height: 67px;}
    .section_headers{min-height: 73px;padding: 24px 0px;}
    .section_header{padding: 10px;text-align: center;}
    .policy_name, .visit_price, .payment{font-size: 10px;}
    .premium_headers{padding: 7px;min-height: 60px;}
    .fund_type{font-size: 11px;color:#ffffff;}
    .annual_limit_section .header_section .head {min-height: 116px;padding: 50px 6px;}
    .annual_content{font-size: 11px;min-height: 105px;}
    .service_content {font-size: 11px;min-height: 75px;}
    .service_limit_section .header_section .head {min-height: 86px;padding: 30px 5px;font-size: 11px;}
    .service_extra_headers_content{padding: 5px;}
    .result_search_btn, .result_filter_btn{font-size: 11px;min-height: 30px;}
    .bank_headers{padding: 15px 0px;min-height: 100px;}
    .pagination_container{text-align: center;}
    .payment_img{padding: 24px 10px;}
    .main_container{padding: 0px 5px;}
    .fixed_head:first-child{margin-top: 0px !important;}
    .bank_name,.fund_type{margin: 0;}
    .head{padding-left: 10px;}
    .service_limit_section .head{min-height: 73px;}
    .rslt_section {border-right: 1px solid #ccc;border-left: 1px solid #ccc;}
    .left_arrow{background-image: url(../images/left_arrow.png);width: 12px;height: 38px;background-repeat: no-repeat;background-position: 5px 7px;}
    .right_arrow{background-image: url(../images/right_arrow.png);width: 12px;height: 38px;background-repeat: no-repeat;background-position: 10px 7px;float: right;margin-top: -40px;}
    .select_div{min-height: 0;border: 1px solid #ffffff;}
    .annual_extra_headers_content{padding: 5px;}
    .premium{padding-top: 12px;}
    .fund_section .policy_headers{padding: 16px 10px;}
    .result_filter_container{margin-bottom: 15px;}
}