/* fonts */
@font-face {src: url(font/Raleway-Bold.ttf);font-family: RalewayBold;}
@font-face {src: url(font/Raleway-ExtraBold.ttf);font-family: RalewayExtraBold;}
@font-face {src: url(font/OpenSans-Light.ttf);font-family: OpenSansLight;}
@font-face {src: url(font/OpenSans-Regular.ttf);font-family: OpenSansRegular;}
@font-face {src: url(font/OpenSans-Bold.ttf);font-family: OpenSansBold;}

.body_container{
	  font-family: OpenSansRegular !important;
	  background:#ECECEC;overflow-x: hidden;
}

.nav_btn_container{
	padding:0;background:#ffffff;
}

.search_division{
	margin-top: 25px;
}

.search_division_container{
	padding:15px 0 15px;
}

.menu_center{
	text-align:center;
	margin-top:3px;
}
.display_table{
	border: 1px solid #ccc;
	box-shadow: 0 1px 15px #ccc;
}
.navbar{
  min-height:46px !important;
}
.policy_result{
	background: #f9f9f9;	  
	color: #555555;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 10px 10px 10px;
	border-bottom:1px solid #ccc;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.search-view th{
	text-align:center !important;
}
.search-view{
	width:98% !important;
	margin:auto;
	margin-bottom: 5px;
	}
.lgout{
  color: #449D44;
  text-decoration: underline;
  padding-left: 5px;
}

.search_container{
	/*background-color:#000;*/
	background-color:#009688;
	padding-top:15px;
	padding-bottom:15px;
	color:white;
}
.paginate{
	padding-bottom:15px;
}

.navi_menu li:hover{
	background:#eeeeee;
}

.navi_menu li:active{
	background:#eeeeee;
}
.navi_menu{
	background:#ffffff !important;
}
.menu_caret{
  margin-left:5px;
}
.menu_title{
    margin: 3px 0px 4px;
}
.message {
  margin-top: 20px;
}
.container_shadow{
  background: #ffffff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 8px #ccc;
  padding-left:0px;
 }

.container_table_shadow{
  background: #ffffff;
  border: 1px solid #ccc;
  /*box-shadow: 0 2px 8px #ccc;*/
  /*margin-top:25px;*/
  margin-top: 20px;
  padding:0;
}

.text_box_search{
	border-radius:0px !important;
}

.total_amounts{
	  text-align: right;
  color: green;
  font-size: 25px;
  font-weight: bold;
 }
.navi_menu{
	padding:0;
}
.navi_menu li{
	/*width:11.6%;*/
/*		border-right:1px solid #ccc;*/
	border-left:1px solid #ccc;
}
.last_li{
	border-right:1px solid #ccc;
}
@media (min-width: 250px) and (max-width: 767px){
	.logo_img {
		width:65%;
	}
  .navbarsmall{
    padding-left:0px !important;
    padding-right: 0px;
  }
  .mainnavbarsmall{
     padding-right: 0px !important;
  }
  .polcy_filter{
    padding-left:5px;
    margin-top: 5px;
  }
  .policy_inputbox{
    padding-left: 0px;
    padding-bottom: 10px;
  }
  .mainsearch{
    padding-left:0px !important;
    padding-right: 0px !important;
  }
  .policy_btnsearch{
    padding-left:0px !important;
    padding-right: 0px !important;
  }
  .uploadbtn{
    margin-top:10px !important;
   }
}

@media (min-width: 768px) and (max-width: 992px){
	.navi_menu li {
		font-size: 11px;
	}
	.container-fluid{
		padding-left:0px !important;
	}
  #uploadpolicycontent{
    margin-left: 10px;
  }
}

@media (min-width: 250px) and (max-width: 400px){
	.login_status{
		font-size:11px;
	}
  #search_btn_id{
    width:33%;
  }
  #showbtn_id{
    width:61%;
  }


}
@media (min-width: 250px) and (max-width: 432px){
#viewallpolicies,#exportexcel{
  margin-top:10px !important;
}
.upld_policies{
    margin-top:10px !important;
   }

}
@media (min-width: 250px) and (max-width: 569px){
  #btnallbox{
    margin-top: 0px !important;
    margin: auto;
    float: none;
    text-align: center;
   }

}
@media (min-width: 768px) and (max-width: 1500px){
	.lg_image{
	padding-top: 13px;
    padding-bottom: 13px;
		  
	}

	.search_box{
		padding-left:0px;
	}
	.search_submit{
		padding-right:0px;
	}
}

@media (min-width: 360px) and (max-width: 767px){
	.lg_image{
		width:80%
	}

}

@media (min-width: 250px) and (max-width: 359px){
	.lg_image{
		width: 78%;
		padding-top: 6px;
	}
}

@media (min-width: 250px) and (max-width: 767px){
	.menu_icon{
			float: left;
			width: 15%;
			padding-top: 4px;
	}
	.menu_title{
		float:left;
	}
	.menu_center{
		overflow:hidden;
	}
	.navi_menu li {
	  width: 80% !important;
	  border: none !important;
	}

	.navbar-nav {
		margin: 0px; 
	}

	.srch_result{
		text-align:center;
		padding-bottom:15px;
	}
  .upldtxt{
     float:left !important;
     text-align: left !important;
  }
}

@media (min-width: 768px) and (max-width: 991px){
	.goto{
		font-size:12px;
	}
}


/******************************* Login Page **************************************/

.text_box_login{
	border-radius:0px !important;
	height:45px;
  /*background-color: #009688 !important;*/
  border-color: #009688 !important;
}

.error{
	color:#980707;
}

.login_caption{
	padding: 15px 0 15px;
	text-align:center;
	color: #6E6B6B;
	}
.login_title{
	  font-size: 50px;
  color: #6E6B6B;
  text-align:center;
  }

/****************************** Manoj Styles *******************************************************/

.visual.green {
  background-color: #94b86e;
}

.top-info{
	font-size:13px;
}

.amount_info{
	padding:0;
}

@media (min-width: 768px) and (max-width: 991px){
	.top-info{
		font-size:9px;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
	.top-info{
		font-size:12px;
	}
}
/****************************** Stats Styles *******************************************************/
.container_table_shadow > .modify_game{
	float:right;	
	padding: 0px 12px 15px;	
}
.modify_game + div{
	clear:both;
}
.modify_game .back_button a{
	color:white;
}
.modify_game .back_button a:hover{
	text-decoration:none;
}
.footer_container {
	background-color: black;
	padding:0px 0px !important;
}
.footer_container p{	
	margin-bottom: 0px !important;
	padding: 15px 15px;
	color:white;
}
.logo_img img.lg_image{
	margin:auto;
}
.search_container .login_status{
	margin-top: 2%;
}
.match_statspage table tr th,td{
	/*text-transform: uppercase;
	font-size: 12px;*/
} 
.match_statspage table tr td{
	font-size: 12px;
}
.match_statspage table tr th:nth-child(n+2), .match_statspage table tr td:nth-child(n+2), .match_statspage table tr td:nth-child(n+2) input{
	width:35px !important;	
}

.matchstats_membertbl{
	margin-bottom: 1%;
}
.match_statspage .matchstats_buttons{
	text-align: right;
	margin-right: 12px;
	margin-bottom:1%;	
}
.matchstats_buttons input{
	text-transform: capitalize;
}
.team-pts-stats tr th, .team-pts-stats tr td input{
	width:35px !important;
}
.game-stats-logo img.lg_image{
	max-height:80px;
}
.team-details{
	width:20%;
	margin-bottom: 5px;
	margin-left:13px;
}
.match_statspage .team-details tr th:nth-child(n+2){
	width:100% !important;
	text-align: center;
} 
.popupstyle{
	margin: 0px 12px 12px;
}
.tot-row > td:nth-child(1){
	font-weight:bold;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer{
	border-bottom:none !important;
}
.search-view {
  margin-bottom: 15px !important;
}
.margintop10{
  margin-top:10px;
}
.margintop20{
  margin-top:20px;
}
.marginbottom20 {
  margin-bottom: 20px;
}
.upldtxt {  
  text-align: center;
  float: right;
}
p.notice{
	/*background-color: #009EA1;*/
	background-color:white;
    color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    height: 0px;
	font-weight:bold;
}
.icon_color{
color: black;
}
.save_btn_color{
	  color: #fff;
    background-color: #006679 !important;
    border-color: #006679 !important;
    width: 18%;
    height: 38px;
    padding: 9px;
}
.modify_button{
    background-color: #009688 !important;
    border-color: #009688 !important;
}
@media (min-width:299px) and (max-width: 992px){
	.save_btn_color{
		margin-top:20px;
		width: 100%;
		height: 40px;
	  }
}


@media (min-width: 768px){
	.menu_navi_class>li>a {
		padding-top: 11px;
		padding-bottom: 1px;
	}
}
.menu_navi_class>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 27px;
}
.menu_navi_class>li>a {
    position: relative;
    display: block;
    padding: 4px 10px;
}
.menu_navi_class{
padding-left:0px !important;
}
.menu_navi_class li:nth-child(1){
border-left:0px;
}
.chc_label{
  padding: 0px 8px 3px;
}
.chc_label1{
  padding: 0px 5px 3px;
  margin-left: 1px;
}
.chc_label2{
 padding: 0px 5px 3px;
 margin-left: 0px;
}
.chc_label3{
 padding: 0px 5px 3px;
}
.dashboard_border{
  border:1px solid #ccc;
  padding:10px 15px 0px;
  margin:0;
}
.dashboard_borderdown{
 background-color:rgba(128, 128, 128, 0.29);
 width: 374px;
 height: 30px;
 margin-left: -15px;
  
}
.dashboard_heading{
    font-size: 16px;
	letter-spacing: 0;
	font-weight:bold; 
	margin-top: 3px;
 }
.dashboard_thisweek{
	 font-size: 16px;
	 letter-spacing: 0;
	 font-weight:bold;
 }
.dashboard_subscriber{
 text-align: right;
 font-size: 34px;
 line-height: 36px;
 letter-spacing: -1px;
 margin-bottom: 0;
 font-weight: 300;
 padding-top:10px;
 margin-top: -40px;
 }
.dashboard_view{
     background-color:rgba(128, 128, 128, 0.29);
	 width: 374px;
	 height: 30px;
	 margin-left: -15px;
	 margin-top: 14px;
 }
.dashboard_payment{
  border:1px solid #ccc;
  padding:10px 15px 0px;
  margin:0;
}
.dashheading_payment{
	background-color:rgba(128, 128, 128, 0.29);
	width: 374px;
	height: 30px;
	margin-left: -15px;
}
.dash_amount{
	text-align: right;
	font-size: 34px;
	line-height: 36px;
	letter-spacing: -1px;
	margin-bottom: 0;
	font-weight: bold;
}
.dashboard_viewall{
	background-color:rgba(128, 128, 128, 0.29);
	width: 374px;
	height: 30px;
	margin-left: -15px;
}
.dashheading_funding{
  background-color:rgba(128, 128, 128, 0.29);
  width: 362px;
  height: 30px;
  margin-left: -15px;
}
.chec_text{
    padding: 0px 17px;
}
.border_div{
     border: 1px solid #ECECEC;
     padding-bottom: 20px;
	 padding-left: 0px;
     padding-right: 0px;
}
.accunt_information{
   text-align:left;
   font-weight:bold;
   font-size:15px;
   background-color:#CCC;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}
.subscriber{
   text-align:center;
   background-color: #3598dc;
   color:white;
   font-size: 16px;
   letter-spacing: 0;
   font-weight: 300;
   padding-top:10px;
}
.total_payments{
   text-align:center;
   background-color: #e7505a;
   color:white;
   font-size: 16px;
   letter-spacing: 0;
   font-weight: 300;
   padding-top:10px;
}
.funding_entries{
   text-align:center;
   background-color:#32c5d2;
   color:white;
   font-size: 16px;
   letter-spacing: 0;
   font-weight: 300;
   padding-top:10px;
}
.detail{
    position: absolute;
    left: 15px;
    padding-left: 15px;
	color:white;
}
.dashboard-stat .detail .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}
.dashboard-stat .detail .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
}
.clientname{
	text-align: left;
	padding-left: 20px;

}
/*#search_result_wrapper{
  padding-bottom: 15px;
}*/

.btn-inverse.active, .btn-inverse:active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #c2e0ec;
}
.btn-inverse:hover {
    color: #ffffff;
    text-shadow: 0px -1px 0px #22404c;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled], .btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #405e6a;
}
.btn-secondary.active, .btn-secondary:active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffd878;
}
.btn-secondary:hover {
    color: #ffffdc;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .btn-group.open .btn-secondary.dropdown-toggle {
    background-color: #FF9A03;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .btn-group.open .btn-secondary.dropdown-toggle {
    background-color: #FF9A03;
}
.btn-inverse {
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #5E7C88;
    background-image: -moz-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -ms-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7c9aa6), to(#405e6a));
    background-image: -webkit-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -o-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: linear-gradient(top, #7c9aa6, #405e6a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c9aa6', endColorstr='#405e6a', GradientType=0);
    border-color: #5E7C88 #405e6a #405e6a #5E7C88;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.btn-secondary {
    text-shadow: 0px -1px 0px rgba(0,0,0,.25);
    color: #ffffff;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
}
.btn-small {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
}
.btn-inverse {
    background-color: #414141;
    background-image: -ms-linear-gradient(top, #555555, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn.active, .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/*.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}*/
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    color:white;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .btn-group.open .btn-secondary.dropdown-toggle {
    background-color: #FF9A03;
    background-position: 0 0px !important; 
    color:white;
}
.polcy_filter{
  padding-left:0px;
  padding-right: 0px;
  margin-top: 5px;
}

@media (min-width: 1300px){
  .container {
    width: 1300px !important;

  }
}
@media (min-width: 1200px){
  
  .accuntsub_info{
  text-align:center;
  color:#000;
  font-weight: bold;
  font-size: 15px;
  margin-right:68px;
}
.accuntsub_information{
  text-align:center;
  color:#000;
  font-weight: bold;
  font-size: 15px;
  margin-right:26px;
}
}
.table>thead:first-child>tr>th:first-child{background: none !important;}
.accuntsub_info{
  text-align:center;
  color:#000;
  font-weight: bold;
  font-size: 15px;
}
.accuntsub_information{
  text-align:center;
  color:#000;
  font-weight: bold;
  font-size: 15px;
}
.marginbottom15{
  margin-bottom: 15px;
}
.grouptxt{
  padding-right:0px;
}
.eventoption{
  min-height: 280px;
}
.widget-contentmessage {
  padding:10px;
 }
.widget-contentmessage .alert {
  float: none;
  margin:0px auto;
  text-align: center;
 }
 .attendeshref,.attendeshref:hover{
   text-decoration: none;
   cursor: pointer;
 }
 #btnallbox{
  margin-top: -53px;
 }

/*table.dataTable thead tr .sorting_asc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
}
table.dataTable thead tr .sorting_desc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
}
*/

.loaderimg{ position: fixed; left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('../images/loader.gif') 50% 50% no-repeat #ffffff;    }